.users-list {
  list-style: none;
  margin: 15vh auto;
  width: 85%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.353);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  border-radius: 10px;
  padding: 3rem 0 1rem 0;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar {
  border-radius: 0 20px 20px 0;
  background-color: rgba(223, 207, 207, 0.534);
  width: 0;
}
