.details-container {
  width: 90%;
  border-radius: 20px;
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 25vh auto;
  box-shadow: inset 0 2px 74px 0 rgb(71, 71, 71); 
  padding: 2rem 0;
}

.details-container div {
  font-size: 1rem;
  text-align: center;
  align-self: center;
}

.user-details-image {
  width: 20%;
  align-self: center;
}

.user-details-contacts {
  height: min-content;
  align-self: center;
}
.message-form {
  text-align: center;
  margin: 20px;
}

.message-form textarea {
  text-align: center;
  width: 90%;
  display: block;
  resize: vertical;
  height: 100px;
  max-height: 200px;
  margin: 10px;
  background: transparent;
  outline: none;
  border-radius: 10px;
  box-shadow: rgba(122, 73, 73, 0.35) 0px 5px 15px;
  color: beige;
  font-size: 1.2rem;
  border: none;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .details-container div {
    font-size: 0.8rem;
  }

  .user-details-image{
    width: 50%;
    align-self: center;
    margin: 3rem;
  }

  .details-container{
    margin: 18vh auto;
  }
}
