.footer-div {
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.901);
  color: white;
  text-align: right;
  display: flex;
  justify-content: right;
  padding: 1rem;
  position: fixed;
}

.footer-div-logout {
  background-color: rgba(0, 0, 0, 0.5);
}