.container {
  width: 90%;
  margin: 20vh auto;
  border-radius: 20px;
  color: bisque;
  text-align: center;
  background-color: #00000019;
  box-shadow: 0 2px 74px 0 rgb(71, 71, 71);
  font-size: 2rem;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  padding: 3rem 0;

}

.main_content{
  width: 80%;
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.description{
  width: 50%;
}

.detailsTitle {
  font-size: 4vw;
  margin: 10px 10px;
}

.image {
  width: 40%;
  height: 50vh;
}

.address {
  background-color: rgba(34, 33, 33, 0.726);
  border-radius: 15px;
  width: 80%;
  margin: 40px auto;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  background-color: rgba(17, 12, 12, 0.171);
  box-shadow: none;
  letter-spacing: 5px;
  word-spacing: 5px;
}

.reactions {
  padding: 20px;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 20px;
  background-color: rgba(34, 33, 33, 0.637);
  box-shadow: 0 0px 5px 5px rgba(246, 246, 245, 0.246);
}

.reactions button {
  display: block;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  margin: 5px;
  font-size: 1rem;
  background-color: transparent;
  color: bisque;
}

.reactions button:hover {
  background-color: burlywood;
  cursor: pointer;
  color: black;
}

.properties {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8rem;
  margin-top: 5rem;
  justify-content: space-around;
}

.properties div {
  margin: 7px;
}

@media (max-width: 768px) {
  .container {
    width: 94%;
  }

  .main_content{
    flex-direction: column;
  }

  .description {
    width: 100%;
    order: 0;
    padding: 10px;
    font-size: 6vw;
  }

  .description h1{
    font-size: 10vw;
  }

  .detailsTitle {
    font-size: 14vw;
    letter-spacing: 2px;

  }

  .extra {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .image {
    width: 100%;
    order: 1;
    margin: 50px auto;
  }

  .reactionsContainer{
    width: 90%;
  }
}

