.comments-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.new-comment-btn{
    font-size: 1.8rem;
    color: antiquewhite;
    border: none;
    outline: none;
    background-color: transparent;
    transition-duration: 0.3s;
    cursor: pointer;
}

.new-comment-btn:hover{
    font-size: 2.3rem;
}

.add-new-comment{
    text-align: center;
}

.add-new-comment input{
    width: 40%;
    padding: 5px;
    text-align: center;
    background-color: transparent;
    color: antiquewhite;
    padding: 5px;
    font-size: 1.3rem;
    letter-spacing: 2px;
    word-spacing: 5px;
    outline: none;
    border: none;
    margin-bottom: 2rem;
    border-bottom: 1px solid antiquewhite;
}

.add-new-comment button{
    cursor: pointer;
    font-size: 2vw;
    background-color: rgba(189, 176, 176, 0.42);
    transition-duration: 0.4s;
}

.add-new-comment button:hover{
    background-color: antiquewhite;
}

/* .no-comments-header{
    font-size: 0.8vw;
} */


.comments-content{
    margin: 0 auto;
    padding: 0;
    margin: 0.5rem;
}

@media (max-width: 768px) {
    .comments-container{
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .add-new-comment input{
        width: 80%;
    }
}