.place-item-container {
  margin-bottom: 3rem;
  background-color: #000000c5;
  box-shadow: inset 0 2px 74px 0 rgb(71, 71, 71);
  border-radius: 10px;
}

.place-item {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.actions-div{
  background: linear-gradient(90deg, rgba(0,0,0,0.2528361686471463) 0%, rgba(0,0,0,0.49933476808692223) 12%, rgba(0,0,0,0.7514356084230567) 25%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 60%, rgba(0,0,0,0.7458333675266982) 75%, rgba(0,0,0,0.49933476808692223) 88%, rgba(0,0,0,0.2528361686471463) 100%);
  border-radius: 20px;
  padding: 1rem;
  border-top: 2px solid rgb(55, 55, 55);
  transition-duration: 0.2s;
}


.place-item__info {
  color: #ffe4c4;
  letter-spacing: 3px;
  word-spacing: 6px;
  padding: 1rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.place-item__image {  

  color: azure;
  width: 30%;

  max-height: 50vh;
  display: flex;
  align-items: center;
}

.place-item__image img {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;

}

.place-item__info h2,
.place-item__info h3,
.place-item__info p {
  margin: 0 0 2rem 0;
}

.place-item__actions {
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0);

}

.actions_logo{
  width: 2.3rem;
  margin: 0 1rem;
  cursor: pointer;
  transition-duration: 0.2s;
}

.actions_logo:hover{
  width: 3rem;
}

.place-item__modal-content {
  padding: 0;
}

.place-item__modal-actions {
  text-align: right;
}

.place-item__actions button,
.place-item__actions a {
  margin: 0.5rem;
}

@media (max-width: 768px) {
  .place-item__image {
    width: 90%;
    margin-bottom: 3rem;
  }

  .place-item__info{
    width: 90%;
  }
}
