.place-item-container {
  margin: 2rem 0;
}

.place-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.place-item__content {
  background-color: rgba(41, 24, 24, 0.384);
  padding: 1rem;
  border: 2px solid rgb(46, 46, 46);
}

.place-item__info {
  color: bisque;
  letter-spacing: 3px;
  word-spacing: 6px;
  padding: 1rem;
  text-align: center;
}

.place-item__image {
  color: azure;
  width: 50%;
  max-height: 50vh;
  display: block;
}

.place-item__image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.place-item__info h2,
.place-item__info h3,
.place-item__info p {
  margin: 0 0 0.5rem 0;
}

.place-item__actions {
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
  border-top: 1px solid #ccc;
}

.place-item__modal-content {
  padding: 0;
}

.place-item__modal-actions {
  text-align: right;
}

.place-item__actions button,
.place-item__actions a {
  margin: 0.5rem;
}

@media (max-width: 768px) {
  .place-item__image {
    width: 100%;
  }
}
