.comment-item{
    border-bottom: 2px solid rgb(116, 110, 110);
    list-style: none;
    display: flex;
    border-radius: 2px;
    justify-content: space-between;
    /* border: 2px solid red; */
    text-align: left;
    margin: 1rem 0;
}

.auth_logo{
    align-self: center;
    width: 3rem;
    border-radius: 50% 0;
}

.delete_logo{
    border-radius: 0;
    width: 1.3rem;
    cursor: pointer;
    align-self: center;
    transition-duration: 0.1s;
}

.delete_logo:hover{
    width: 2rem;
}

.comment-text{
    width: 80%;
    padding: 0;
    margin: 0;
    align-self: center;
}

@media (max-width: 568px) {
    .comment-item{
        width: 99%;
    }
}