.comment-item{
    border: 2px solid rgb(116, 110, 110);
    list-style: none;
    display: flex;
    margin: 1rem;
    border-radius: 20px;
    justify-content: space-between;
}

.comment-item img{
    align-self: center;
    width: 3rem;
    border-radius: 50%;
}

.comment-item h6{
    width: 80%;
    padding: 0;
    margin: 0;
    align-self: center;
}